.menu-container{
  background-color: black;
  display: flex;
  flex-direction: column;

}
.m-c-1{
  display: flex;
 justify-content: center;
 margin-top: 10px;
 flex-wrap: wrap;
 
}
.m-c-2{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
 
}

@media (min-width: 200px) and (max-width: 1000px){
  .menu-container{
    width:1000px ;
  }

}
.submenucontianer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 45vh;
    width: 45vh;
    background-image:url('/img/menu-2c.jpg');
    background-repeat: no-repeat;
    margin: 18px;
    border-radius: 12px;
    transition: all 0.5s ease-in-out .01s;
}
.submenucontianer:hover{
  transform: scale(1.13);
}
.submenucontianer2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 45vh;
    width: 45vh;
    background-image: url('/img/menu-3c.jpg');
    background-repeat: no-repeat;
    margin: 18px;
    border-radius: 12px;
    transition: all 0.5s ease-in-out .01s;
}
.submenucontianer2:hover{
  transform: scale(1.13);
}
.submenucontianer3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 45vh;
    width: 45vh;
    background-image: url('/img/m-4c.jpg');
    background-repeat: no-repeat;
    margin: 18px;
    border-radius: 12px;
    transition: all 0.5s ease-in-out .01s;
}
.submenucontianer3:hover{
  transform: scale(1.13);
}

.submenucontianer4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 45vh;
    width: 45vh;
    background-image: url('/img/m-5c.jpg');
    background-repeat: no-repeat;
    margin: 18px;
    border-radius: 12px;
    transition: all 0.5s ease-in-out .01s;
}
.submenucontianer4:hover{
  transform: scale(1.13);
}

.submenucontianer5{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 45vh;
    width: 45vh;
    background-image: url('/img/m-6.jpg');
    background-repeat: no-repeat;
    margin: 18px;
    border-radius: 12px;
    transition: all 0.5s ease-in-out .01s;
  }
  .submenucontianer5:hover{
    transform: scale(1.13);
  }

.submenucontianer6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 45vh;
    width: 45vh;
    background-image:url('/img/m-7.jpg');
    background-repeat: no-repeat;
    margin: 18px;
     border-radius: 12px;
     transition: all 0.5s ease-in-out .01s;
}
.submenucontianer6:hover{
  transform: scale(1.13);
}

.submenucontianer7{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 45vh;
    width: 45vh;
    background-image: url('/img/m-8c2.jpg');
    background-repeat: no-repeat;
    margin: 18px;
    border-radius: 12px;
    transition: all 0.5s ease-in-out .01s;
}
.submenucontianer7:hover{
  transform: scale(1.13);
}

.submenucontianer8{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 45vh;
    width: 45vh;
    background-image: url('/img/m-9.jpg');
    background-repeat: no-repeat;
    margin: 18px;
    border-radius: 12px;
    transition: all 0.5s ease-in-out .01s;
}
.submenucontianer8:hover{
  transform: scale(1.13);
}

.btn3{
  width: 80px;
  margin: 36%;
  padding: 6.5px; 
  opacity: 0.6;
  border: none;
  letter-spacing: 1.5px;
  background-color: rgb(246, 230, 200);
}

.btn3:hover{
  transform: scale(1.15);
  background: transparent;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-weight: bold;
}